doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    div.container-fluid
      div.row
        include includes/sidebar
        div.col-sm-9.offset-sm-3.col-md-10.offset-md-2.main
          h2 Edit Course

          form(method='POST' action=`http://localhost:3000/api/1/courses/${course.id}?_method=PUT`)
            each fieldKey in Object.keys(fields)
              div.form-group
                label(for=`${fieldKey}`)= `${fieldKey[0].toUpperCase()}${fieldKey.split(/(?=[A-Z])/).join(' ').slice(1)}`
                if /VARCHAR/.test(fields[fieldKey].type)
                  input.form-control(type=text name=`${fieldKey}` placeholder=`${fieldKey}` value=`${course[fieldKey]}`)
                else if /TEXT/.test(fields[fieldKey].type)
                  textarea.form-control(type=text name=`${fieldKey}` placeholder=`${fieldKey}`)= course[fieldKey]
                else if /INTEGER/.test(fields[fieldKey].type)
                  input.form-control(type='number' name=`${fieldKey}` value=`${section[fieldKey]}`)
            input.btn.btn-success(type='submit' value='Add Course')


    include includes/footer.pug
