doctype html
html(lang='en')
  include includes/head.pug
  body
    include includes/header.pug
    div.container-fluid
      div.row
        include includes/sidebar
        div.col-sm-9.offset-sm-3.col-md-10.offset-md-2.main
          h2= `Sections of ${course.name}`

          a.btn.btn-success(href=`/admin/courses/${course.id}/sections/add`)
            i.fa.fa-plus(aria-hidden='true')
            span Add a Section

          if sections.length > 0
            table.table.table-hover.table-responsive.content-manage
              thead.thead-default
                tr
                  th Id
                  th Name
                  th Created At
                  th Updated At
                  th
              tbody
                each section in sections
                  tr
                    td= section.id
                    td= section.name
                    td= section.createdAt
                    td= section.updatedAt
                    td
                      div.btn-group(role='group')
                        a.btn.btn-secondary(href=`/courses/${course.id}/sections/${section.id}`)
                          i.fa.fa-eye(aria-hidden='true')
                          span.sr-only View
                        a.btn.btn-secondary(href=`/admin/sections/${section.id}/edit`)
                          i.fa.fa-pencil(aria-hidden='true')
                          span.sr-only Edit
                        a.btn.btn-danger(href='#' data-action='deleteSection' data-sectionId=`${section.id}`)
                          i.fa.fa-trash(aria-hidden='true')

          else
            p There are no sections. Create one!
    include includes/footer.pug
